SSH_MODE="EXAMPLE"
SSH_PKEY="EXAMPLE"
MYSQL_DB="EXAMPLE"
MYSQL_USER="EXAMPLE"
MYSQL_HOST="EXAMPLE"
MYSQL_PORT="EXAMPLE"
MYSQL_PASSWORD="EXAMPLE"
SSH_MYSQL_USERNAME="EXAMPLE"
SSH_MYSQL_SERVER_ADDRESS="EXAMPLE"
SSH_MYSQL_SERVER_PORT="EXAMPLE"
SSH_MYSQL_LOCAL_PORT="EXAMPLE"
SSH_MODE="EXAMPLE"
SSH_PKEY="EXAMPLE"
POSTGRES_DB="EXAMPLE"
POSTGRES_USER="EXAMPLE"
POSTGRES_HOST="EXAMPLE"
POSTGRES_PORT="EXAMPLE"
POSTGRES_PASSWORD="EXAMPLE"
SSH_USERNAME="EXAMPLE"
SSH_SERVER_ADDRESS="EXAMPLE"
SSH_SERVER_PORT="EXAMPLE"
LOCAL_PORT="EXAMPLE"
